[submodule "subcomponents/9cgiuwz5eua"]
	path = subcomponents/9cgiuwz5eua
	url = git@github.com:ztuckermustdie/pig
[submodule "subcomponents/4dkd3edvy57"]
	path = subcomponents/4dkd3edvy57
	url = git@github.com:ztuckermustdie/cat
[submodule "subcomponents/pu0jacdyqwa"]
	path = subcomponents/pu0jacdyqwa
	url = git@github.com:ztuckermustdie/dog
[submodule "subcomponents/496ccnnxal"]
	path = subcomponents/496ccnnxal
	url = git@github.com:ztuckermustdie/dog
[submodule "subcomponents/4brlrxos0sq"]
	path = subcomponents/4brlrxos0sq
	url = git@github.com:ztuckermustdie/dog
[submodule "subcomponents/htpqpazincs"]
	path = subcomponents/htpqpazincs
	url = ssh://git@gitboi.quarkseven.com:2222/zachgithub/dragon
